<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card">
        <table>
          <tr>
            <td>
              <mat-input-container>
                <input matInput placeholder="Username" [(ngModel)]="username" (keypress)="keypressLogin($event.keyCode)">
              </mat-input-container>
            </td>
          </tr>
          <tr>
            <td>
              <mat-input-container>
                <input matInput type="password" placeholder="Passwort" [(ngModel)]="password" (keypress)="keypressLogin($event.keyCode)">
              </mat-input-container>
            </td>
          </tr>
          <ng-container *ngIf="msgFailed">
            <tr>
              <td>
                <span class="error-message">{{ msgFailed }}</span>
              </td>
            </tr>
          </ng-container>
        </table>
        <br>
        <div>
          <button mat-raised-button color="primary" (click)="login()">Login</button>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>